DEBUG=True
DJANGO_SECRET_KEY=thisisnotasecretkey
DJANGO_ALLOWED_HOSTS='localhost,"",127.0.0.1,0.0.0.0'
DJANGO_CSRF_TRUSTED_ORIGINS='http://localhost'

# Database 
DB_NAME=winterthur
DB_USER=winterthur
DB_PASSWORD=postgres
DB_HOST=db

POSTGRES_DB=winterthur
POSTGRES_USER=winterthur
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
