# this is a Jinja2 template file used during the Ansible deployment
# environment specific configuration can be found in our Ansble scripts

version: '3.9'

services:
  app:
    build: .
    image: "rrchnm/winterthur"
    container_name: "winterthur-app"
    ports:
      - "{{ template.env.host_app_port }}:8000"
    command: >
        sh -c "poetry run python3 manage.py migrate &&
               poetry run python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - dj-data:/app/media
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:12
    container_name: "winterthur-db"
    volumes:
      - pg-data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ template.env.db_user }}"]
      interval: 5s
      timeout: 5s
      retries: 5

# external volumes managed and defined by ansible
volumes:
  dj-data:
    name: "winterthur-app-vol"
    external: true
  pg-data:
    name: "winterthur-db-vol"
    external: true
