{% if document.attached_images.all %}
  {% for image in document.attached_images.all %}
    {% if image.image_type == "recto" or image.image_type == "verso" or image.image_type == "verso and recto" %}
      <div class="p-3 border">
        <a href="{% url 'manuscript_page' document.slug %}">
          <img src="{{ image.thumbnail.url }}" class="h-auto w-full mt-0 mb-0" alt="Manuscript page {{document.page_range}}" loading="lazy" />
        </a>
        <div class="font-sans mt-0 ml-4">
          Page {{ document.page_range }} ({{document.docside}})
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No images available</p>
{% endif %}

