#openseadragon_viewer {
    height: 700px;
    position: relative;
    overflow: hidden;
}

#viewer1 {
    height: 600px;
    position: relative;
    overflow: hidden;
}

#viewer2 {
    height: 600px;
    position: relative;
    overflow: hidden;
}

.prose details,
.prose summary {
    margin: 0;
}

.active {
    font-weight: bold;
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
