{% extends "base.html" %}
{% block content %}
  <div class="prose relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">
    <h1>About.</h1>
    <div class="grid grid-cols-3 gap-0 p-8">
    <!-- Left Section (2/3) -->
      <div class="col-span-2 bg-white p-4">
        <p>Ludwig Denig was an eighteenth-century shoemaker and apothecary living in colonial and revolutionary
          Pennsylvania. Denig was a Pietist who drew on the devotional and biblical spirituality of the Lutheran and Dutch
          Reformed churches. He created a devotional text—an illuminated manuscript—by mixing an array of Christian
          elements with his own creativity. He copied passages from the Gospels in German with devotional reflections on
          the Passion. He painted watercolor scenes from the Passion that combined the stories of the Gospels with scenes
          from his own experience, including the brutal violence against the Conestoga Indians in Lancaster, Pennsylvania,
          and his own experiences of warfare in the Revolutionary War. And he added Christian hymns to his watercolors and
          biblical texts. This manuscript combines a number of devotional, theological and artistic traditions, but that
          combination created a manuscript and work of art that is unique to early America.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ipsum a arcu cursus vitae congue mauris rhoncus. Metus aliquam eleifend mi in nulla posuere
          sollicitudin aliquam ultrices. Leo duis ut diam quam nulla. Rhoncus urna neque viverra justo nec ultrices. Ac
          turpis egestas sed tempus urna et. Volutpat consequat mauris nunc congue nisi vitae suscipit. Nunc id cursus
          metus aliquam eleifend mi in. Tincidunt augue interdum velit euismod. Amet aliquam id diam maecenas ultricies mi
          eget mauris. Non odio euismod lacinia at quis risus. Id donec ultrices tincidunt arcu non sodales. Risus nullam
          eget felis eget nunc lobortis mattis aliquam.</p>

        <p>In nisl nisi scelerisque eu. Et leo duis ut diam quam nulla porttitor. Id velit ut tortor pretium viverra
          suspendisse potenti nullam. Facilisi nullam vehicula ipsum a arcu cursus vitae. Scelerisque fermentum dui
          faucibus in ornare quam viverra orci sagittis. Et malesuada fames ac turpis egestas sed tempus urna et. Montes
          nascetur ridiculus mus mauris vitae. Laoreet non curabitur gravida arcu ac. Quisque egestas diam in arcu cursus
          euismod quis viverra. Elit at imperdiet dui accumsan sit. Egestas fringilla phasellus faucibus scelerisque
          eleifend donec pretium vulputate sapien. Nisl pretium fusce id velit ut tortor pretium. Aliquam sem et tortor
          consequat id. Quam id leo in vitae turpis massa. Tellus pellentesque eu tincidunt tortor aliquam.</p>

        <h2 class="text-xl">Cite the Project</h2>

        <p><em>The Denig Manuscript</em>, Winterthur Museum, Garden & Library and the Roy Rosenzweig Center for History
          and New Media (2024--). <a href="{% url 'manuscript' %}"
                                     class="text-winterthur-dk-blue hover:underline">https://denig.rrchnm.org/</a>
        </p>

        <h2 class="text-xl">Technical Specifications</h2>

        <p>The <em>Denig Manuscript Project</em> is built with Django, HTMX, and TailwindCSS.</p>
      </div>

    <!-- Right Section (1/3) -->
      <div class="col-span-1 bg-white border-l border-gray-300">
      <!-- About Section -->
        <div class="p-4 mb-4">
          <p class="text-sm">The <em>Denig Manuscript Project</em> is a collaboration between the <a
            href="https://www.winterthur.org/">Winterthur Museum, Garden and Library</a> and the <a
              href="https://rrchnm.org">Roy Rosenzweig Center for History and New Media</a>.</p>
        </div>

        <hr class="w-full border-gray-300 mt-0 mb-0">

      <!-- Authors Section -->
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">Authors</h3>
          <ul class="list-none pl-0">
            <li class="text-sm pl-0">Author 1</li>
            <li class="text-sm pl-0">Author 2</li>
            <li class="text-sm pl-0">Author 3</li>
          </ul>
        </div>

        <hr class="w-full border-gray-300 mt-0 mb-0">

      <!-- Team Section -->
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">Project Team</h3>
          <ul class="list-none pl-0">
            <li class="text-sm pl-0">Bridget Bukovich</li>
            <li class="text-sm pl-0">Marie Stephanie Delamaire</li>
            <li class="text-sm pl-0">Danielle Dougherty</li>
            <li class="text-sm pl-0">Jason Heppler</li>
            <li class="text-sm pl-0">Lincoln Mullen</li>
            <li class="text-sm pl-0">Rebecca Parmer</li>
            <li class="text-sm pl-0">Catharine Roeber</li>
            <li class="text-sm pl-0">Tony Trinh</li>
            <li class="text-sm pl-0">John Turner</li>
          </ul>
        </div>


      </div>
    </div>

  </div>

{% endblock content %}