{% extends 'base.html' %} {% block content %}
    <div class="prose relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">
        <h1>About.</h1>

        <p>
            Ludwig Denig was an eighteenth-century shoemaker and apothecary living in
            colonial and revolutionary Pennsylvania. Denig was a Pietist who drew on the
            devotional and biblical spirituality of the Lutheran and Dutch Reformed
            churches. He created a devotional text—an illuminated manuscript—by mixing
            an array of Christian elements with his own creativity. He copied passages
            from the Gospels in German with devotional reflections on the Passion. He
            painted watercolor scenes from the Passion that combined the stories of the
            Gospels with scenes from his own experience, including the brutal violence
            against the Conestoga Indians in Lancaster, Pennsylvania, and his own
            experiences of warfare in the Revolutionary War. And he added Christian
            hymns to his watercolors and biblical texts. This manuscript combines a
            number of devotional, theological and artistic traditions, but that
            combination created a manuscript and work of art that is unique to early
            America.
        </p>

        <h2>Project team.</h2>
        <ul>
            <li>John Turner</li>
            <li>Lincoln Mullen</li>
            <li>Marie Stephanie Delamaire</li>
            <li>Jason Heppler</li>
            <li>Rebecca Parmer</li>
            <li>Danielle Dougherty</li>
        </ul>
    </div>
{% endblock %}
