{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="relative bg-gray-800 overflow-scroll min-h-screen">
    <!-- Hero image -->
        <img class="absolute inset-0 w-full h-full object-cover" src="{% static "2020-0011_19.jpg" %}" alt="Denig manuscript">
    <!-- Overlay to darken the image -->
        <div class="absolute inset-0 bg-gray-900 opacity-80"></div>
    <!-- Hero content -->
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 relative min-h-screen">
            <!-- Intro Text -->
                <div>
                    <h2 class="italic text-2xl text-gray-300 max-w-2xl mb-4">
                        See and hear the eighteenth century…
                    </h2>
                    <p class="text-lg text-gray-300 max-w-2xl mb-12 text-justify hyphens-auto" lang="en">
                        The Denig Manuscript Project brings an eighteenth-century, Pennsylvania-made manuscript and
                        watercolors to life through a collaborative multimedia digital project. High-resolution digital
                        images, updated translations, forensic analysis, sound recordings, and contextual scholarship
                        provide enhanced access to this extraordinary document of religious life in early America. Ludwig
                        Denig (1755-1830) created the ink and watercolor bound volume in 1784, and it remained in private
                        hands until the 1970s. Winterthur Museum, Garden & Library acquired the manuscript as a gift in
                        2020. Recognizing both the importance of the volume and its fragile physical state, Winterthur
                        received support from the Schwartz Foundation and The Paper Project at the Getty to study and
                        digitize the book. Winterthur and a team of scholars worked with the Roy Rosenzweig Center for
                        History and New Media to build a digital humanities site and provide greater access to Denig’s work.
                    </p>
                    <h2 class="text-2xl text-gray-300 max-w-2xl mb-4">
                        Who was Denig?
                    </h2>
                    <p class="text-lg text-gray-300 max-w-2xl mb-12 text-justify hyphens-auto" lang="en">
                        Ludwig Denig (1755-1830) was a shoemaker and apothecary living in colonial and revolutionary
                        Pennsylvania. He drew on the devotional and biblical spirituality of regional Lutheran and Dutch
                        Reformed churches to create a leather-bound manuscript that combines a number of theological and
                        artistic traditions. The volume he created provides a unique document of one man’s religious and
                        cultural life, illustrated with images informed by the world around him. This manuscript combines a
                        number of devotional, theological, and artistic traditions, but that combination created a
                        manuscript and work of art that is unique to early America.
                    </p>
                </div>
            <!-- Rectangular Areas -->
                <div class="sticky top-0 self-start">
                    <div class="flex flex-col lg:items-start space-y-4">
                        <a href="{% url 'manuscript' %}"
                           class="bg-slate-300 text-gray-800 hover:bg-zinc-200 p-6 rounded-lg flex items-center space-x-4 w-full">
                            <img src="{% static 'manuscript_preview.jpg' %}" alt="Manuscript" class="w-14 h-14">
                            <div>
                                <h2 class="text-lg font-bold uppercase font-sans">Explore the manuscript</h2>
                                <p class="text-sm text-black">Discover the detailed manuscript created by Ludwig Denig,
                                    featuring watercolor scenes and devotional texts.</p>
                            </div>
                        </a>
                        <a href="/essays/scholarship/"
                           class="bg-slate-300 text-gray-800 hover:bg-zinc-200 p-6 rounded-lg flex items-center space-x-4 w-full">
                            <img src="{% static 'denig_signed.jpg' %}" alt="Scholarly essays" class="w-14 h-14">
                            <div>
                                <h2 class="text-lg font-bold uppercase font-sans">Discover scholarship</h2>
                                <p class="text-sm text-black">Learn more about the historical context of Ludwig Denig's
                                    work.
                                </p>
                            </div>
                        </a>
                        <a href="{% url 'about' %}"
                           class="bg-slate-300 text-gray-800 hover:bg-zinc-200 p-6 rounded-lg flex items-center space-x-4 w-full">
                            <img src="{% static 'about_preview.png' %}" alt="About" class="w-14 h-14">
                            <div>
                                <h2 class="text-lg font-bold uppercase font-sans">Learn more</h2>
                                <p class="text-sm text-black">Find out more about the project.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
