{% extends 'base.html' %} {% block title %}Manuscript{% endblock %} {% block
extrahead %} {% block content %}
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">
        <h1 class="text-2xl pb-4 mb-4">The Manuscript.</h1>

        <div class="mt-12">
            {% if document_list %}
                <ul
                    class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
                >
                    {% for document in document_list %}
                        <li
                            class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200"
                        >
                            <div class="flex-1 flex flex-col p-8">
                                <dl class="mt-1 flex-grow flex flex-col justify-between">
                                    <dt class="sr-only">Description</dt>
                                    <dd class="text-gray-500 text-sm">
                                        <a
                                            class="underline text-gray-900 hover:text-gray-600 truncate w-full block mb-2"
                                            href=""
                                        >{{ document.description }}</a
                                            >
                                        </dd>
                                        <dt class="sr-only">DocType</dt>
                                        <dd class="mt-3">
                                            <span
                                                class="px-2 py-1 text-green-800 text-xs font-medium bg-green-100 rounded-full"
                                            >{{ document.doctype }}</span
                                                >
                                            </dd>
                                        </dl>
                                    </div>
                                </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
