{% extends "base.html" %}

{% block title %}
    Manuscript
{% endblock title %}

{% block extrahead %}{% endblock extrahead %}

{% block content %}
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">

        <h1 class="text-2xl pb-4 mb-4">
            Viewing page {{ manuscript_page.page_range }} {{ manuscript_page.docside }}
        </h1>

        <div class="mt-12">

            <div class="grid grid-cols-2 gap-0 mx-auto">
                <div class="p-4 border">
                    <h2 class="mb-2">English</h2>
                    <hr class="w-full border-gray-300 mt-2 mb-2">
                    {% for fragment in fragments %}
                        {% for language in fragment.languages.all %}
                            {% if language.display_name == 'English' %}
                                <p>
                                    <span class="font-bold font-serif text-sm text-winterthur-dk-blue">
                                        {{ fragment.line_number }}
                                    </span> <span class="pl-4 font-sans">{{fragment.transcription }}</span>
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="p-4 border-r border-b border-t">
                    <div x-data="{ activeTab: 'modernGerman' }">
                        <div class="mb-2">
                            <button class="tab-btn mr-14 hover:text-winterthur-dk-blue hover:underline"
                                    :class="{ 'underline': activeTab === 'modernGerman', 'text-winterthur-dk-blue': activeTab === 'modernGerman' }"
                                    x-on:click="activeTab = 'modernGerman'">
                                German (modern)
                            </button>
                            <button class="tab-btn hover:text-winterthur-dk-blue hover:underline"
                                    :class="{ 'underline': activeTab === 'oldGerman', 'text-winterthur-dk-blue': activeTab === 'oldGerman' }"
                                    x-on:click="activeTab = 'oldGerman'">
                                German (old)
                            </button>
                        </div>

                        <hr class="w-full border-gray-300 mt-2 mb-2">

                        {% for fragment in fragments %}
                            {% for language in fragment.languages.all %}
                                {% if language.display_name == 'German (modern)' %}
                                    <p>
                                        <span class="font-bold font-serif text-sm text-winterthur-dk-blue">
                                            {{ fragment.line_number }}
                                        </span> <span class="pl-4 font-sans">{{fragment.transcription }}</span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mx-auto my-4 w-full border">
                <div id="openseadragon_viewer" class="openseadragon">
                    <script type="text/javascript">
                        let viewer = OpenSeadragon({
                            id: "openseadragon_viewer",
                            prefixUrl: "/static/openseadragon/images/",
                            tileSources: {
                                type: "image",
                                url: "{{ manuscript_page.attached_images.all.0.image.url }}",
                            },
                        })
                    </script>
                </div>
            </div>

            <div class="mt-4">
                <h3 class="text-2xl pb-4 mb-4">Metadata</h3>
                <ul>
                    <li><strong>Document type</strong>: {{ manuscript_page.doctype }}</li>
                    <li>Metadata 2</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}