{% extends "base.html" %}
{% block title %}
    Manuscript
{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-32">
        <h1 class="text-2xl pb-4 mb-4">The Manuscript.</h1>
        <div class="mt-12">
            {% if document_list %}
                <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    {% for document in document_list %}
                        <li class="col-span-1 flex flex-col text-center bg-white rounded-lg shadow divide-y divide-gray-200">
                            <div class="flex-1 flex flex-col p-8">
                                <dl class="mt-1 flex-grow flex flex-col justify-between">
                        {# display a file if available #}
                                    {% if document.attached_images %}
                                        <dt class="sr-only">File</dt>
                                        <dd class="text-gray-500 text-sm">
                            <!-- <img src="{{ document.item_file.url }}" alt="" /> -->
                                            {% if document.attached_images.all %}
                                                <ul>
                                                    {% for image in document.attached_images.all %}
                                                        <li>
                                                            <a href="{% url 'manuscript_page' document.id %}"><img src="{{ image.image.url }}"
                                                                                                                   alt="Document Image"></a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                            <!-- Handle case where no images are attached -->
                                                <p>No images available</p>
                                            {% endif %}
                                        </dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No documents are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}