{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}essay-page top{% endblock %}

{% block content %}

    <div class="prose relative max-w-4xl mx-auto py-12">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="font-sans mt-0 bg-amber-50">
        <div class="p-4 md:p-6 lg:p-10 mx-3 md:mx-14 lg:mx-48">
            <p class="meta">By <strong>{{ page.author }}</strong> </p>

            <p class="mt-3">{{ page.author_bio|richtext }}</p>

            <hr class="mt-3 mb-3 border-black" />

            <p class="citation">Cite this piece:</p>
            <blockquote>
                {{ page.author }}. "{{ page.title }}." <em>The Denig Manuscript Project</em>. {{ page.date }}.
                {{page.full_url }}.
            </blockquote>
        </div>
    </div>

    <div class="prose relative max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-4">

        {% if page.intro %}
            <div class="intro text-xl">{{ page.intro }}</div>
        {% endif %}

        {{ page.body|richtext }}

    </div>
{% endblock %}
