{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block title %}Scholarship{% endblock title %}
{% block extrahead %}{% endblock extrahead %}
{% block body_class %}essays{% endblock %}

{% block content %}
    <div class="prose relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h1>{{ page.title }}.</h1>
        <div class="mt-12">

            <div class="text-xl pb-8">{{ page.intro|richtext }}</div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
                {% for post in page.get_children %}
                    <div
                        class="bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-200">
                        {% if post.specific.preview_image %}
                            <div class="w-full h-48 overflow-hidden">
                                {% image post.specific.preview_image width-400 %}
                            </div>
                        {% else %}
                            <div class="w-full h-48 overflow-hidden">
                                {% image post.specific.gallery_images.first.image width-400 %}
                            </div>
                        {% endif %}
                        <div class="p-4">
                            <h2 class="text-xl font-semibold mb-2"><a href="{% pageurl post %}" class="text-black underline hover:no-underline">{{ post.title }}</a></h2>
                            {% if post.specific.author %}
                                <p class="text-gray-700 mb-2">by {{ post.specific.author }}</p>
                            {% endif %}
                            {% if post.specific.intro %}
                                <p class="text-gray-700 mb-2">{{ post.specific.intro }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
